    <h1>
  Payment Results
</h1>

<dl>
  <dt>
    APR
  </dt>
  <dd>
    <dd><%= @apr.to_s(:percentage, {:precision => 2}) %></dd>
  </dd>

  <dt>
    Number of years
  </dt>
  <dd><%= @num_of_years%></dd>

  <dt>
    Principal
  </dt>
  <dd><%= @principal.to_s(:currency, {:precision => 2}) %></dd>

  <dt>
    Payment
  </dt>
  <dd>
    <%= @payment.to_s(:currency, {:precision => 2}) %>
  </dd>
</dl>

<a href="/payment/new">
  Calculate another payment
</a>